@import "tailwindcss";

@font-face {
    font-family: "pricedown";
    src: url("../public/pricedown.otf");
}


html,body{
    width: 100%;
    height: 100%;
    font-family: pricedown, sans-serif;
    background: #000;
}

img, h3, h4, p, h2, .text{
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}





.sky{
    scale: 2;
}
.bg{
    scale: 1.1;
}